body{
	background-color: #efefef;
}
* {
	margin:0;
	padding:0;
}
#top{
	height: 150px;
	width: 100%;
	/*background: skyblue;*/
	background: url(../imger/download.png) repeat-x;
}
.tu{
	margin-left: 150px;
	margin-top: 12px;
	/*margin-top: 8px;*/
}
.leftTop a{
	text-decoration: none;
	color: white;
	font-size: 17px;
}
.ul1{
	margin-left: 860px;
	margin-top: -55px;
	/*text-align: center;*/
}
.ul1 a:hover{
	color: red;
}
.seach{
	width: 38px;
	height: 38px;
	background-color: white;
	margin-top: -12px;
	position: relative;
}
#text{
	display: none;
	width: 150px;
	height: 35px;
	margin-top: -12px;
	margin-left: -153px;
	position: absolute;
}
.seach:hover{
	
}
.qing{
	width: 80px;
	height: 38px;
	margin-left: -80px;
	margin-top: -5px;
	background-color: white;
}
.qing a{
	color: gray;
}
.qing:hover{
	display: block;
}
.logo{
	margin-top: 20px;
	margin-left: 350px;
}
.li1{
	list-style: none;
	float: left;
	margin-left: 3px;
}
.li a{
	/*margin-left: 8px;*/
}
.li2{
	list-style: none;
	float: left;
	margin-left: 10px;
}
.li2 dl{
	width: 820px;
}
.li2 a{
	font-size: 18px;
	font-weight: normal;
	margin-left: 37px;
	float: left;
}
.li2 a:hover{
	color: red;
	font-weight: bold;
}
.li2 dd a{
	padding: 15px 15px;
	font-size: 17px;
	text-align: center;
	color: white;
	font-family: "微软雅黑";
	font-weight: normal;
}
.ul2{
	margin-left: 500px;
	margin-top: 49px;
	position: relative;
	height: 40px;
}
.ul2 > li {
	height: 40px;
}

.menu{
	width: 900px;
	height: 136px;
	float: left;
	position: absolute;
	right: 110px;
	bottom: -126px;
	background: url(../imger/download111.png) no-repeat;
	z-index: 1000;
	margin-left: -5px;
}
.menu a:hover{
	color: red;
}

/*/banner部分/*/
#banner {
	list-style: none;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	z-index: 999;
	margin-top: -30px;
}
#pic{
	width: 100%;
	position: relative;
}
#prev{
	left: 100px;
	background: url(../imger/11.png) no-repeat left center;
}
#prev:hover{
	left: 100px;
	background: url(../imger/zuo.png) no-repeat left center;
}
#next{
	right: 100px;
	background: url(../imger/12.png) no-repeat right center;
}
#next:hover{
	right: 100px;
	background: url(../imger/you.png) no-repeat right center;
}
.arrow{
	cursor: pointer;
	/*display: none;*/
	line-height: 58px;
	text-align: center;
	width: 58px;
	height: 58px;
	position: absolute;
	z-index: 2;
}
.icon{
	width: 354px;
	height: 88px;
	position:absolute;
	left: 10%;
	bottom: 32px;
	float:left;
	/*align-items: baseline;*/
}
.icon1:hover{
	background: url(../imger/download77.png) no-repeat;
	/*color: red;*/
	margin-top: -1px;
	transition-duration: 0.1s;
}
/*.icon1 img:hover{
	background-color: red;
}*/
.icon1{
	background: url(../imger/xin.png) no-repeat;
	margin-bottom: -90px;
}
.icon2{
	background: url(../imger/ban.png) no-repeat;
	margin-bottom: -90px;
	margin-left: 130px;
}
.icon2:hover{
	background: url(../imger/download88.png) no-repeat;
	margin-top: -1px;
	transition-duration: 0.1s;
}
.icon3{
	background: url(../imger/wei.png) no-repeat;
	margin-left: 250px;
}
.icon3:hover{
	background: url(../imger/download99.png) no-repeat;
	margin-top: -1px;
	transition-duration: 0.1s;
}
.icon li a{
	float: left;
	display: block;
	width: 88px;
	height: 88px;
	
}
/*
 * 大轮播图往下
 * 
 */
.top2{
	margin-left: 151px;
	margin-top: 10px;
}
.img3{
	list-style: none;
	height: 75px;
	width: 75px;
	margin-top: 0px;
}
.db{
	width: 170px;
	height: 75px;
	float: left;
	margin-left: 5px;
	background: gray;
	border-radius: 5px;
}
.db a{
	color: white;
	font-size: 20px;
	margin-left: 0px;
	margin-top: -20px;
}
.db:hover{
	width: 170px;
	height: 75px;
	float: left;
	margin-left: 5px;
	background: white;
	border-radius: 5px;
}
.db a:hover{
	color: gray;
	font-size: 20px;
	margin-left: 0px;
	margin-top: -20px;
}
/*.db:hover{
	background-color: white;
}
.db a:hover{
	background-color: gray;
}*/
/*.db1{
	width: 170px;
	height: 75px;
	float: left;
	background: whitesmoke;
	border-radius: 5px;
}
.db1 a{
	color: black;
	font-size: 20px;
}*/
.db2{
	float: left;
	width: 400px;
	height: 75px;
	background: ;
	margin-left: 300px;
}
.a1{
	font-size: 20px;
	margin-left: 12px;
	font-weight: bold;
}
.a2{
	font-size: 18px;
	margin-left: -23px;
	color: #017edc;
	font-weight: bold;
}


/*小轮播新闻部分*/
.left{
	width: 428px;
	height: 335px;
	margin-left: 150px;
	overflow: hidden;
	position: relative;
	background-color: white;
}
/*.left li{
	position: absolute;
}*/
#ul{
	position: absolute;
}
#title{
	width: 428px;
	height: 70px;
	margin-top: -50px;
	/*background-color: black;*/
	background: url(../imger/black_opacity_50.png);
	position: relative;
	text-decoration: none;
	font-size: 18px;
	font-style: normal;
	line-height: 40px;
	color: whitesmoke;	
}
.left1{
	width: 428px;
	height: 305px;
}
.hd{
	position: absolute;
	bottom: 10px;
	right: 2%;
	z-index: 999;
}
.hd a{
	display: block;
	float: left;
	margin: 0 6px;
	background: url(../imger/banner.png) no-repeat -16px 0;
	width: 16px;
	height: 16px;
}
.hd a.active{
	background-position: 0 0;
}
.center{
	width: 375px;
	height: 335px;
	margin-top: -335px;
	margin-left: 578px;
	position: relative;
    background: white;
}
.center h3{
	line-height: 19px;
}
.font{
	float: left;
	margin-left: 45px;
	margin-top: -15px;
	font-size: 15px;
	color: black;
}
.font:hover{
	color: red;
	text-decoration: none;
}
#middle{
	width: 35px;
	height: 335px;
	background-color: white;
	margin-left: 943px;
	margin-top: -335px;
}
#big{
	width: 33px;
	height: 335px;
	margin-left: 2px;
	margin-top: -14px;
}
.right{
	width: 380px;
	height: 335px;
	margin-top: -335px;
	margin-left: 980px;
	background-color: #f6f6f6;
}
.right h3{
	display: block;
}
.right a{
	display: block;
	
}
#demo{
	width: 337px;
	height: 335px;
	overflow: hidden;
}
.font2{
	/*float: left;*/
	margin-left: 45px;
	margin-top: -14px;
	font-size: 15px;
	color: black;
}
.font2:hover{
	color: red;
	text-decoration: none;
}
#hengfu{
	width: 1200px;
	height: 188px;
	margin-top: 20px;
	margin-left: 150px;
}
#gif{
	width: 1221px;
	
}
/*三个小图*/
.san{
	padding-left: 150px;
	margin-top: 25px;
}
#san{
	width: 403px;
	height: 100px;
}

/*<!--四个中间框的第一个-->*/
.border1{
	width: 194px;
	height: 176px;
	margin-top: 30px;
	margin-left: 150px;
	background-color: #e3a616;
}
#new1{
	float: left;
	background: #dfe0e2;
	height: 176px;
	width: 400px;
	margin-left: 194px;
	margin-top: -213px;
}
#day1{
	float: left;
	padding-top: 2px;
	width: 45px;
	height: 20px;
	background: white;
	margin-top: 6px;
	margin-left: 12px;
	
}
#day1 h3{
	text-align: center;
}
#day a:hover{
	color: red;
}
#day a{
	display: block;
	color: #000000;
	font-size: 17px;
	text-align: justify;
	word-wrap: break-word;
	line-height: 32px;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: "微软雅黑";
	text-decoration: none;
	margin-top: 2px;
}


.bordera1{
	font-size: 30px;
	font-family: "微软雅黑";
	color: white;
	line-height: 80px;
	margin-left: 40px;
	margin-top: 40px;
}
.bordera2{
	font-size: 17px;
	color: white;
	font-weight: bold;
	margin-top: -20px;
    margin-left: 40px;
    line-height: 5px;
}
.bordera3{
	font-size: 13px;
	color: white;
	margin-left: 140px;
	line-height: 120px;
}
.bordera3:hover{
	font-weight: bold;
	text-decoration: underline;
}
.border2{
	width: 200px;
	height: 176px;
	margin-top: -173px;
	margin-left: 775px;
	background-color: #4c65fa;
}
.border3{
	width: 194px;
	height: 176px;
	margin-top: 28px;
	margin-left: 150px;
	background-color: #85ad48;
}
.border4{
	width: 594px;
	height: 176px;
	margin-top: -175px;
	margin-left: 775px;
	background-color: white;
}
.border4 img{
	width: 194px;
}
/*信箱*/
.photo{
	clear: both;
	width:100%;
	height: 170px;
	margin-top: 25px;
	margin-left: 0px;
	background: #cdd0d4;
}
.a{
	margin-right: 19px;
	width:119px;
	height: 120px;
	float: left;
}
.a:hover{
	margin-top: -10px;
	transition-duration: 1s;
}
.a h2:hover{
	color: red;
}
.phototab{
	margin-left: 150px;
	
}
/*#photo1{
	margin-left: 150px;
}*/
.a a{
	text-align: center;
}
.a h2{
	font-size: 14px;
	margin-top: -25px;
	color: white;
}
.picture img{
	margin-top: 30px;
}

/*#photos1{
	margin-left: 150px;
	margin-top: 35px;
}*/
#photos{
	margin-left: 12.6px;
	margin-top: 35px;
}

/*底部*/
.bottom{
	width: 100%;
	height: 208px;
	background: #325e92;
}
.weixin{
	float: left;
	margin: 35px 5px 0 5px;
	text-align: center;
	margin-left: 150px;
}
.weibo{
	float: left;
	margin: 35px 5px 0 5px;
	text-align: center;
	margin-left: 0px;
}
.vr{
	float: left;
	margin: 35px 5px 0 5px;
	text-align: center;
	margin-left: 0px;
}
.w{
	font-size: 11px;
	font-style: normal;
	color: #CCC;
}
.middle{
	float: left;
	margin-top: 30px;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 10px;
}
.middle h3{
	margin-top: 5px;
	color: white;
	line-height: 20px;
	font-size: 11px;
	font-family: "微软雅黑";
}
/*最右*/
.you select{
	width: 200px;
	height: 35px;
	margin-top: 37px;
	margin-left: 180px;
	text-align: center;
	line-height: 30px;
}
.aa{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #222222;
	line-height: 30px;
}
.you1 select{
	width: 200px;
	height: 35px;
	margin-top: 20px;
	margin-left: 180px;
}
